$containerWidth: 940px;
$baseFontSize: 18px;
$blue: #61C4D9;
$darkGreen: #497870;
$z-fixed-menu: 100;

$tablets: 768px;
$phones: 480px;


@import "media";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap');
@import "layout";
@import "components/hero.scss";
@import "components/header.scss";
@import "components/features.scss";
@import "components/feature.scss";
@import "components/btn.scss";
@import "components/section.scss";
@import "components/headline.scss";
@import "components/benefits.scss";
@import "components/benefit.scss";
@import "components/benefits-section.scss";
@import "components/reviews";
@import "components/interactive-avatar.scss";
@import "components/section-rewiews";
@import "components/order-section.scss";
@import "components/form.scss";
@import "components/radio.scss";
@import "components/fixed-menu.scss";
@import "components/contacts.scss";
@import "components/footer.scss";
@import "components/hamburger.scss";
@import "components/menu-mobile.scss";
@import "components/about-section.scss";
@import "components/section-teams.scss";
@import "components/modal.scss";
@import "components/section-slide.scss";
@import "components/section-video.scss";


