@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
    font-size: 2.3vmax;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url(../img/pattern.png) right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  padding: 1.3888888889rem 0 1.9444444444rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 71%;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-size: contain;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    display: block;
    background: url(../img/comp768.png) center center/contain no-repeat;
    width: 75%;
    height: 21.3888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section::before {
    width: 75%;
    height: 18.7777777778rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  background: url(../img/granola_bar.png) right center/50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}
@media screen and (max-width: 768px) {
  .hero__container::before, .hero__container::after {
    display: none;
  }
}
.hero__container::before {
  position: absolute;
  bottom: -4.4444444444rem;
  left: -5%;
  content: url(../img/leaf_3.svg);
}
.hero__container::after {
  content: url(../img/berries-1.svg) url(../img/leaf_2.svg) url(../img/leaf_1.svg) url(../img/berries_2.svg);
  position: absolute;
  bottom: -3.8888888889rem;
  right: 0%;
  column-count: 2;
  width: 22.2222222222rem;
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    margin-bottom: 0.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.5rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.6666666667rem;
  max-width: 371px;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    max-width: 350px;
    margin-bottom: 1.2777777778rem;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  max-width: 2.8888888889rem;
  max-height: 2.2222222222rem;
  fill: #fff;
}

.menu {
  margin: 0 30px;
  padding-top: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.6666666667rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.phone-number__icon {
  flex-shrink: 0;
}
.phone-number__text {
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .phone-number {
    display: none;
  }
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
  fill: #fff;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon-elem {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  margin-right: 0.3888888889rem;
  fill: #fff;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1.1111111111rem 2.2222222222rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
}
.btn_theme_white {
  background: #fff;
  color: #497870;
}
.btn_theme_white:hover {
  color: #fff;
  background: #497870;
}
.btn_theme_green {
  background: #497870;
  color: #fff;
}
.btn_theme_green:hover {
  color: #497870;
  background: #fff;
}
.btn_theme_transparent {
  background: transparent;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.btn_theme_transparent:hover {
  color: #497870;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_font-color_green {
  color: #497870;
}
.section_font-color_green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.2222222222rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 2.7777777778rem;
}

.headline__title {
  margin-bottom: 0.7777777778rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-top: 2.8888888889rem;
  }
}

.headline__subtile {
  padding: 0 26%;
}
@media screen and (max-width: 768px) {
  .headline__subtile {
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtile {
    padding: 0px 5%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
  }
}
.benefits__item:before {
  content: url(../img/decor.svg);
  position: absolute;
  top: 20%;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
    margin-bottom: 1.6666666667rem;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  line-height: 2.3333333333rem;
  margin-bottom: 0.8888888889rem;
  font-weight: bold;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.5555555556rem;
  }
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 0.6666666667rem;
  }
}

@media screen and (max-width: 480px) {
  .benefit__desc {
    font-size: 1rem;
    max-width: 260px;
  }
}

.benefits-section {
  position: relative;
  background: url(../img/pattern_leaf.svg) left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 10%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  content: url(../img/raspberries.svg);
  position: absolute;
  bottom: -10rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    display: none;
  }
}

.reviews {
  position: relative;
}

.reviews__display {
  background: #F8FAF9 url(../img/layer_reviews.svg) right top no-repeat;
  padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  margin-bottom: 0.8333333333rem;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.6111111111rem;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.7777777778rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
    max-width: 677px;
  }
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  color: black;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    font-size: 1.6111111111rem;
  }
}

.reviews__text {
  margin-bottom: 2rem;
  padding: 0 23% 0 0;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 0.8888888889rem;
    padding: 0;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: #292929;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar_active {
  border-color: #365A49;
}
.interactive-avatar:hover {
  border-color: #365A49;
}

.reviews__switcher-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-rewiews {
  background: url(../img/berries_reviews.svg) top right no-repeat;
  position: relative;
}
@media screen and (max-width: 480px) {
  .section-rewiews {
    background-size: 30%;
  }
}
.section-rewiews::before {
  content: "";
  background: url(../img/pattern_rewievs.svg) center center/contain no-repeat;
  width: 5.6666666667rem;
  height: 17.7777777778rem;
  position: absolute;
  bottom: -8.8888888889rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .section-rewiews::before {
    width: 12%;
  }
}
.section-rewiews::after {
  content: "";
  background: url(../img/berries_reviews2.svg) center center/contain no-repeat;
  width: 7.5rem;
  height: 10.7222222222rem;
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0;
}
@media screen and (max-width: 480px) {
  .section-rewiews::after {
    width: 15%;
  }
}

.order-section {
  background: url(../img/order.png) center/cover no-repeat;
}

.order-container::before {
  position: absolute;
  bottom: 0;
  left: -5%;
  content: url(../img/berries_order.svg);
}
@media screen and (max-width: 480px) {
  .order-container::before {
    display: none;
  }
}
.order-container::after {
  content: url(../img/leaf_order.svg);
  position: absolute;
  bottom: 0;
  right: -10%;
}
@media screen and (max-width: 480px) {
  .order-container::after {
    display: none;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    max-width: 466px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
    max-width: 25.5555555556rem;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 0.9444444444rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 4px;
}
.form__input_textarea {
  height: 9.0555555556rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input_textarea {
    height: 4.5555555556rem;
  }
}
.form__input:focus {
  border-color: #DEE2BD;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.5555555556rem;
    font-size: 0.7777777778rem;
  }
}

.form__controls {
  display: flex;
  margin-bottom: 0.8888888889rem;
  padding: 1rem 0 0;
}
.form__controls:nth-last-child(2) {
  margin-bottom: 2.4444444444rem;
  padding: 0 0 0;
}
@media screen and (max-width: 768px) {
  .form__controls {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 1.3333333333rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 1rem;
  }
}
.radio:last-child {
  margin-right: 0;
}
.radio_checkbox .radio__visible {
  border-radius: 0;
}
.radio_checkbox .radio__visible::before {
  background: url(../img/checkmark.svg) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible::before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 11.1111111111rem;
  right: calc(50% - 530px);
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-contacts {
  position: relative;
  background: url(../img/map.svg) center/cover no-repeat;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer-left {
    margin-bottom: 1.1111111111rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1.2777777778rem 0;
}

.phone-number_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 480px) {
  .phone-number_footer {
    align-items: center;
  }
}

.adress_footer {
  color: #292929;
}

.phone-number__text_footer {
  color: #497870;
}

.phone-number__icon-elem_footer {
  fill: #497870;
}

.phone-number__footer {
  display: flex;
}

.socials {
  display: flex;
  justify-content: space-between;
}
.socials__item {
  margin-right: 0.6666666667rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link-elem {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  fill: #B3B3B3;
  transition: 0.5s;
}
.socials__link-elem:hover {
  fill: #292929;
  transition: 0.5s;
}

.hamburger {
  min-width: 1.4444444444rem;
  min-height: 1.2777777778rem;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  margin-top: 0.3333333333rem;
  margin-right: 1.4444444444rem;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}
/*# sourceMappingURL=main.css.map */