@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url(../img/pattern.png) right bottom/40% no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  padding: 25px 0 35px;
  position: relative;
}

.hero__title-section {
  width: 350px;
}

.hero__container {
  background: url(../img/granola_bar.png) right center/50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.hero__container::before {
  position: absolute;
  bottom: -80px;
  left: -5%;
  content: url(../../img/leaf_3.svg);
}
.hero__container::after {
  content: url(../../img/berries-1.svg) url(../../img/leaf_2.svg) url(../../img/leaf_1.svg) url(../../img/berries_2.svg);
  position: absolute;
  bottom: -70px;
  right: 0%;
  column-count: 2;
  width: 400px;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 30px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.menu__link {
  text-decoration: none;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 45px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 40px;
  margin-right: 7px;
}

.feature__text {
  font-size: 16px;
  max-width: 85px;
}

.btn {
  font-size: 19px;
  font-weight: bold;
  padding: 20px 40px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
}
.btn_theme_white {
  background: #fff;
  color: #497870;
}
.btn_theme_white:hover {
  color: #fff;
  background: #497870;
}
.btn_theme_green {
  background: #497870;
  color: #fff;
}
.btn_theme_green:hover {
  color: #497870;
  background: #fff;
}
.btn_theme_transparent {
  background: transparent;
  color: #000;
  text-decoration: none;
}
.btn_theme_transparent:hover {
  color: #497870;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_font-color_green {
  color: #497870;
}
.section_font-color_green .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}

.headline {
  text-align: center;
  margin-bottom: 50px;
}

.headline__title {
  margin-bottom: 25px;
}

.headline__subtile {
  padding: 0 26%;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url(../../img/decor.svg);
  position: absolute;
  top: 20%;
  right: 0;
  transform: translate(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 75px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 27px;
  font-weight: bold;
  color: #292929;
}

.benefits-section {
  position: relative;
  background: url(../../img/pattern_leaf.svg) left top 57% no-repeat;
}
.benefits-section::before {
  content: url(../../img/raspberries.svg);
  position: absolute;
  bottom: -80px;
  left: 0;
}

.reviews {
  position: relative;
}

.reviews__display {
  background: #F8FAF9 url(../../img/layer_reviews.svg) right top no-repeat;
  padding: 50px 45px 34px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -65px;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 254px;
  height: 260px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 20px;
}

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 22px;
  color: black;
}

.reviews__text {
  margin-bottom: 36px;
  padding: 0 23% 0 0;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: #292929;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar_active {
  border-color: #365A49;
}
.interactive-avatar:hover {
  border-color: #365A49;
}

.reviews__switcher-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
.reviews__switcher-link:hover {
  border-color: #365A49;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-rewiews {
  background: url(../../img/berries_reviews.svg) top right no-repeat;
  position: relative;
}
.section-rewiews::before {
  content: url(../../img/pattern_rewievs.svg);
  position: absolute;
  bottom: -160px;
  left: 0;
}
.section-rewiews::after {
  content: url(../../img/berries_reviews2.svg);
  position: absolute;
  bottom: -80px;
  left: 0;
}

.order-section {
  background: url(../../img/berries_order.svg) bottom 10% left 3% no-repeat, url(../../img/leaf_order.svg) bottom 10% right 3% no-repeat, url(../../img/order.png) center/cover no-repeat;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 18px;
}

.form__block {
  flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
  border-radius: 4px;
}
.form__input_textarea {
  height: 180px;
  resize: none;
}
.form__input:focus {
  border-color: #DEE2BD;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.form__controls:nth-last-child(2) {
  margin-bottom: 44px;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 24px;
}
.radio:last-child {
  margin-right: 0;
}
.radio_checkbox .radio__visible {
  border-radius: 0;
}
.radio_checkbox .radio__visible::before {
  background: url(../../img/checkmark.svg) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: calc(50% - 530px);
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */