.about-section {
    background: #F8FAF9;
    position: relative;
    &::before {
        content: "";
        background: url(../img/about.png) center center/contain no-repeat;
        position: absolute;
        width: rem(196px);
        height: rem(453px);
        right: 0;
        bottom: rem(-230px);

        @include phones {
            width: rem(100px);
        }
    }

    &::after {
        content: "";
        background: url(../img/blueberry.png) center center/contain no-repeat;
        position: absolute;
        width: rem(135px);
        height: rem(112px);
        right: 0;
        bottom: rem(-50px);

        @include phones {
            width: rem(65px);
        }
    }
}


.arrow { 
    position: absolute;
    top: rem(236px);
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: 1;

    @include tablets {
        top: rem(118px);
    }

    &_prev {
        @include tablets {
            // left: 25%;
        }
    }

    &_next {
        right: 0;

        // @include tablets {
        //     right: 20%;
        // }
    }
}

.arrow__left {
    width: rem(24px);
    height: rem(24px);
    border-bottom: 4px solid #000000;
    border-left: 4px solid #000000;
    transform: rotate(45deg);
    border-radius: 5px;
}

.arrow__right {
    width: rem(24px);
    height: rem(24px);
    border-bottom: 4px solid #000000;
    border-left: 4px solid #000000;
    transform: rotate(225deg);
    border-radius: 5px;
}


 .bx-wrapper {
        border: 0;
        background: transparent;
        box-shadow: none;
    }

    

.shop__item {
    display: flex;
    justify-content: space-between;
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}


.products {
    margin-right: rem(94px);
    padding: rem(35px) 0 0;

    @include tablets {
        margin: 0;
        padding: 0;
    }
}

.products__img {
    position: relative;
    width: rem(363px);
    height: rem(386px);
    margin-left: rem(35px);
    display: flex; align-items: center; justify-content: center;

    @include tablets {
        margin: 0;
    }
    @include phones {
        height: rem(280px);
    }

    &::before {
        content: "";
        background: url(../img/leaf_about_2.png) no-repeat;
        position: absolute;
        /* top: 0; */
        /* left: 0; */
        bottom: rem(-8px);
        right: rem(-38px);
        width: 100px;
        height: 75px; 

        @include tablets {
            bottom: 0;
        }

        @include phones {
            right: 0;
            background-size: 75%;
        }
    }
    &::after {
        content: "";
        background: url(../img/leaf_about.png) no-repeat;
        position: absolute;
        top: rem(100px);
        left: rem(-36px);;
        right: 0;
        bottom: 0;
        /* margin: auto; */
        width: 75px;
        height: 92px;

        @include phones {
            left: rem(8px);
            top: rem(60px);
            background-size: 75%;
        }
    }
}

img.products__img-images {
    @include phones {
    margin: auto 0;
    width: 70%;
    }
}

.about__composition {
    display: flex;
    position: relative;
    width: rem(91px);
    height: rem(91px);

    @include tablets {
        display: none;
    }
}

.about {
    width: 47%;

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
    }
    @include phones {
        width: 92%;
    }
}

.about__image-images {
    width: rem(32px);
    height: rem(32px);
    fill: #000000;
}

.about__dropdown {
    min-width: 273px;
    height: 344px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0.7222222222rem 1.2222222222rem 0.7777777778rem;
    background-color: #e7e7e7;
    // display: none; 
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 5px;
    opacity:0;
    left:-9999px;
    transition:opacity .3s;
}

.about__icon {
    width: rem(91px);
    height: rem(91px);
    background: #86C3D7;
    border-radius: 3px;
    padding: rem(12px) rem(23px);
}

.about__composition:hover .about__dropdown {
    opacity:1;
    left:100%;
}

.about__text {
    max-width: 368px;
    margin: 0 0 rem(23px);

    @include tablets {
        max-width: 510px;
        text-align: center;
    }
}

.about__content {

    @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    @include phones {
        max-width: 380px;
    }
}

.about__icon-text {
    font-size: rem(14px);
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.about__title {
    text-transform: uppercase;
    font-size: rem(36px);
    min-width: initial;
    color: #292929;
    font-weight: bold;
    margin: rem(23px) 0 rem(22px);
    line-height: rem(36px);

    @include phones {
        text-align: center;
        width: rem(374px);
        line-height: rem(36px);
    }
}

.about__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about__icon-images {
    width: rem(46px);
    height: rem(46px);
    fill: #fff;
}

.about__item {
    margin-right: rem(44px);
}

.about__item-dropdown {
    display: flex;
    justify-content: space-between;
}

.about__text-dropdown {
    width: rem(127px);
    height: rem(24px);
}

.about__list {
    display: flex;
}

.about__desc_bold {
    font-weight: bold;
    color: #292929;
}

.price {
    display: flex;
    align-items: center;
    font-size: rem(60px);
    color: #292929;
}

.price__item {
    margin: 0 rem(30px) 0 0;
}