.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
        margin-bottom: rem(30px);
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: rem(75px);
    height: rem(69px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-size: rem(27px);
    line-height: rem(42px);
    margin-bottom: rem(16px);
    font-weight: bold;
    color: #292929;

    @include phones {
        margin-bottom: rem(10px);
    }
}

.benefit__image {
    @include phones {
        margin-right: rem(12px);
    }
}

.benefit__desc {
    
    @include phones {
        font-size: rem(18px);
        max-width: 260px;
    }
}