.fixed-menu {
    position: fixed;
    top: rem(200px);
    // right: rem(200px);
    right: calc(50% - 570px);
    z-index: $z-fixed-menu;

    @include tablets {
        display: none;
    }
}

.fixed-menu__item {
    margin-bottom: rem(5px);

    &_active {
        .fixed-menu__link {
            border-color: #fff;
        }
        .fixed-menu_black {
            border-color: #000;
        }
    }
}


.fixed-menu__link {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
    position: relative;
    
    &:before {
        content: "";
        display: block;
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
}

.fixed-menu_black {
    &.active{
        border-color: #000;
    }
    &::before {
        background: #000;
    }
}

// .black {
//     border-color: #000 !important;   
// }
