.benefits-section {
    position: relative;
    background: url(../img/pattern_leaf.svg) left top 57% no-repeat;

    @include tablets {
        background-position: left top 10%;
    }

    @include phones {
        background: none;
    }

    &::before {
        content: url(../img/raspberries.svg);
        position: absolute;
        bottom: rem(-180px);
        left: 0;

        @include phones {
            display: none;
        }
    }
}