.feature{
    display: flex;
}

.feature__icon-elem {
    width: rem(40px);
    height: rem(40px);
    margin-right: rem(7px);
    fill: #fff;
}

.feature__text {
     font-size: rem(16px);
     max-width: rem(85px);
}