.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones {
        flex-direction: column;
    }
}

.footer-left {
    @include phones {
        margin-bottom: rem(20px);
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: rem(23px) 0;
}

.phone-number_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include phones {
        align-items: center;
    }
}

.adress_footer {
    color: #292929;
}

.phone-number__text_footer {
    color: $darkGreen;
}

.phone-number__icon-elem_footer {
    fill: $darkGreen;
}

.phone-number__footer {
    display: flex;
}

.socials {
    display: flex;
    justify-content: space-between;

    &__item {
        margin-right: rem(12px);

        &:last-child {
            margin-right: 0;
        }
    }
}

.socials__link-elem {
    width: rem(20px);
    height: rem(20px);
    fill: #B3B3B3;
    transition: .5s;

    &:hover {
        fill: #292929;
        transition: .5s;
    }
}
