.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__row  {
    display: flex;
    margin-bottom: 18px;
}

.form__block {
    flex: 1;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: 17px 11px;
    border: solid 3px transparent;
    border-radius: 4px;

    &_textarea {
        height: 163px;
        resize: none;
    }

    &:focus {
        border-color: #DEE2BD;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding: 18px 0 0;

    &:nth-last-child(2) {
        margin-bottom: 44px;
        padding: 0 0 0;
    }
}