.hamburger {
    min-width: rem(26px);
    min-height: rem(23px);
    flex-direction: column;
    justify-content: space-between;
    display: none;
    margin-top: rem(6px);
    margin-right: rem(26px);

    @include tablets {
        display: inline-flex;
    }
}

.hamburger__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;
}