.slide-title {
    text-align: left;
}

.section-slide {
    position: relative;
    background:  url(../../img/background.png) center/cover no-repeat;
    display: block;
    padding-top: rem(116px);

    &::after {
        content: "";
        background: url(../../img/rasspeberi.png) center center/ contain no-repeat;
        position: absolute;
        top: rem(-70px);
        left: rem(122px);
        /* right: 0; */
        /* bottom: 0; */
        width: rem(104px);
        height: rem(114px);
    }
}

.slide-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;

    @include phones {
        width: 100%;
        justify-content: flex-end;
    }
}

.slide-menu__item {
    display: flex;

    @include phones {
        &.active-acco {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            z-index: 2;
        }
    }
}

.slide-menu__title {
    position: relative;
    min-width: rem(102px);
}

.slide-menu__content {
    width: 0;
    overflow: hidden;
    background: rgba(51, 53, 55, 0.9);
    position: relative;
    transition: width .7s;
}

.slide-menu__content-text {
    color: #fff;
}

.slide-menu__container {
    padding: 30px 80px 424px 38px;
}

.slide-menu__close {
    top: 10px;
    right: 10px;
    /* left: 0; */
    bottom: 0;
    margin: 0 auto;
    width: 1.111111rem;
    height: 1.1111111111rem;
    cursor: pointer;
    position: absolute;
    border: 0;
    background: transparent;
    outline: none;
}

.slide-menu__close:before,
.slide-menu__close:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: rem(20px);
    height: rem(4px);
    background: #fff;
    border-radius: 5px;
    left: 0;
    margin: auto;
    bottom: 0;
}

.slide-menu__close::before {
    transform: rotate(45deg);
}

.slide-menu__close:after {
    transform: rotate(-45deg);
}

.slide-menu__text {
    transform: rotate(-90deg) translate(-50%, -50%);
    white-space: nowrap;
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform-origin: 0 0;
    font-size: rem(48px);
    color: #fff;
    font-weight: bold;
}

.slide-menu__img {
    width: rem(102px);
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
