.head {
    display: flex;
    justify-content: center;
}

.teams {
    display: flex;

    @include tablets {
        display: none;
    }
}

.teams-mobile {
    display: none;

    @include tablets {
        display: block;
    }
}

.teams__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
        margin-bottom: 16px;
    }
}

.teams__member {
    margin-bottom: 20px;
}


.teams__desc {
    text-align: center;
}

.teams__triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid $darkGreen;
}

.teams__triangle_up {
    border-bottom: 10px solid $darkGreen;
    border-top: 0;
}


.teams__about {
    display: flex;
    align-items: baseline;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: none;
}

.teams__prof {
    color: #292929;

    @include tablets {
        font-weight: bold;
    }
}

.teams__name {
    margin-right: rem(5px);
    font-size: 21px;
    font-weight: bold;
    color: #292929;
}

.teams__descripton {
    height: 0;
    overflow: hidden;
    transition: .3s;
    position: absolute;
    top: 100%;
    width: 200px;

    @include tablets {
        position: relative;
        top: 0;
    }
}

.teams__descriotion-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.head__title {
    font-size: 2.6666666667rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #292929;
}